*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';

}

html,body{
    width: 100%;
    height: 100%;
 
}
#center{
    box-shadow: 0 0 60px black;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
}

#rectangle{
    box-shadow: 0 0 60px black;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: rgb(31, 31, 31);
}

